@model MyStoryMaker.Models.CollagesModels

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CollagesModels</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.caption)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.caption)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id, storyId = TempData["storyId"] }) |
    @Html.ActionLink("Back to List", "Index", new { id = TempData["storyId"] })
</p>
